@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

h1 {
    padding: 20px 0;
    text-align: center;
}

.classes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 60px;
}

@media (max-width: 480px) {
    .container{
        width: 100%;
    }
    .classes {
      flex-direction: column;
      align-items: baseline;
      margin: auto;
      gap:0px;
    }
}

.class-card {
    margin-bottom: 20px;
}

.class-card h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.class-card .link-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #5322ff; 
    /* Button color */
    color: #ffffff;
    /* White text */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    /* Light drop shadow */
    width: max-content;
}

.class-card .link-button:hover {
    background-color: #3813db;
}

.class-card:hover h2{
    transform: scale(1.05,1.05);
}